<div class="container-fluid panel-footer">
  <div class="row">
	<div class="col-sm-8 col-sm-push-4 col-lg-10 col-lg-push-2 footerBar">
        <p class="copyright">&copy; Mike Kelley Foundation for the Arts.  All Rights Reserved.</p>
	</div>
     <div class="col-sm-4 col-sm-pull-8 col-lg-2 col-lg-pull-10 footerLogo">
          <img src="/assets/images/mkfa_footer_logo.png" class="img-responsive">
     </div>
    
  </div>
</div>


<script src="/assets/js/homeBackground.js"></script>
