<section id="navigation">
  <nav class="navbar navbar-default" aria-label="<%= I18n.t("navigation.top_level") %>">
    <div class="container-fluid navbar-header top-bar">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsemenu"
              aria-expanded="false">
        <span class="sr-only"><%= I18n.t("navbar.toggle_navigation") %></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <div class="collapse navbar-collapse" id="collapsemenu">
        <ul class="nav navbar-nav navbar-right">
        <li><a href="/repositories/resources">Collections</a></li>
        <li><a href="/subjects">Subjects</a></li>
        <li><a href="/agents">Names</a></li>
        <li><a href="/search?&op%5B%5D=&q%5B%5D=4381">Audio</a></li>
        <li><a href="/search?&op%5B%5D=&q%5B%5D=4382">Video</a></li>
        <li><a href="/search?&op%5B%5D=&q%5B%5D=4383">Photo</a></li>
        <li><a href="/search?&op%5B%5D=&q%5B%5D=4380">Digital access</a></li>
        </ul>
        </div>
    </div>
  </nav>
</section>
