<section id="navigation">
  <nav class="navbar navbar-expand-lg navbar-light navbar-default bg-light p-0" aria-label="top-level navigation">
      <button type="button" class="navbar-toggler m-2 ml-auto" data-toggle="collapse" data-target="#collapsemenu" aria-expanded="false">
        <div class="container">
          <span class="sr-only">Navigation menu for smaller devices</span>
          <span class="navbar-toggler-icon"></span>
        </div>
      </button>
      <div class="collapse navbar-collapse top-bar pl-4" id="collapsemenu">
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item p-2">
              <a class="nav-link" href="/repositories/resources">Collections</a>
            </li>
            <li class="nav-item p-2">
              <a class="nav-link" href="/subjects">Subjects</a>
            </li>
            <li class="nav-item p-2">
              <a class="nav-link" href="/agents">Names</a>
            </li>
            <li class="nav-item p-2">
              <a class="nav-link" href="/search?&amp;op%5B%5D=&amp;q%5B%5D=4381">Audio</a>
            </li>
            <li class="nav-item p-2">
              <a class="nav-link" href="/search?&amp;op%5B%5D=&amp;q%5B%5D=4382">Video</a
            </li>
            <li class="nav-item p-2">
              <a class="nav-link" href="/search?&amp;op%5B%5D=&amp;q%5B%5D=4383">Photo</a
            </li>
            <li class="nav-item p-2">
              <a class="nav-link" href="/search?&amp;op%5B%5D=&amp;q%5B%5D=4380">Digital access</a>
            </li>
            <li class="nav-item p-2"><a class="nav-link" href="/search?reset=true" title="Search The Archives">
                <span class="fa fa-search" aria-hidden="true"></span>
                <span class="sr-only">Search The Archives</span>
              </a>
            </li>
        </ul>
      </div>
  </nav>
</section>
